#### Task - 1

Даны значения величины заработной платы заемщиков банка (zp) и значения их поведенческого кредитного скоринга (ks): zp = [35, 45, 190, 200, 40, 70, 54, 150, 120, 110], ks = [401, 574, 874, 919, 459, 739, 653, 902, 746, 832].
Используя математические операции, посчитать коэффициенты линейной регрессии, приняв за X заработную плату (то есть, zp - признак), а за y - значения скорингового балла (то есть, ks - целевая переменная). Произвести расчет как с использованием intercept, так и без.

In [ ]:
import numpy as np

In [ ]:
# с использованием intercept
X = np.array([35, 45, 190, 200, 40, 70, 54, 150, 120, 110])
y = np.array([401, 574, 874, 919, 459, 739, 653, 902, 746, 832])

In [ ]:
b = (np.mean(X*y) - np.mean(X)*np.mean(y)) / (np.mean(X**2) - np.mean(X)**2)
print(f'Значение beta равно - {round(b,2)}')

Значение beta равно - 2.62

In [ ]:
a = np.mean(y) - b*np.mean(X)
print(f'Предиктор равен - {round(a,2)}')

Предиктор равен - 444.18

In [ ]:
y_ht = a + b*X
print(y_ht)

[[535.89621821]
 [562.10160703]
 [942.07974498]
 [968.2851338 ]
 [548.99891262]
 [627.61507909]
 [585.68645697]
 [837.25818968]
 [758.64202321]
 [732.43663439]]

In [ ]:
# без использования intercept
X = X.reshape(len(X), 1)
y = y.reshape(len(y), 1)

In [ ]:
B = np.dot(np.linalg.inv(np.dot(X.T,X)), X.T@y)
# коэф B равен 5.88982042
y_ht = 0 + B*X
print(y_ht)

[[ 206.1437147 ]
 [ 265.04191891]
 [1119.06587983]
 [1177.96408403]
 [ 235.59281681]
 [ 412.28742941]
 [ 318.05030269]
 [ 883.47306302]
 [ 706.77845042]
 [ 647.88024621]]

#### Task - 2

Посчитать коэффициент линейной регрессии при заработной плате (zp), используя градиентный спуск (без intercept)

In [ ]:
import numpy as np

# Посчитать коэффициент линейной регрессии при заработной плате (zp), используя градиентный спуск (без intercept).

X = np.array([35, 45, 190, 200, 40, 70, 54, 150, 120, 110])
y = np.array([401, 574, 874, 919, 459, 739, 653, 902, 746, 832])

In [ ]:
B1 = 0.1
alpha = 1e-06

In [ ]:
n = len(X)

In [ ]:
def mse(B1, y=y, X=X, n=n):
    return np.sum((B1*X - y)**2) / n

In [ ]:
for i in range(1000):
    B1 -= alpha * (2/n) * np.sum((B1*X - y) * X)
    if not i % 50:
        print(f"Iteration: {i}, B1={B1}, mse={mse(B1)}")

Iteration: 0, B1=0.25952808, mse=493237.7212546963
Iteration: 50, B1=4.497229618367758, mse=83233.94472982832
Iteration: 100, B1=5.54537842245223, mse=58151.31823171113
Iteration: 150, B1=5.804626485478126, mse=56616.849068093856
Iteration: 200, B1=5.868748638669329, mse=56522.97550129376
Iteration: 250, B1=5.884608547059329, mse=56517.232638059555
Iteration: 300, B1=5.888531320728348, mse=56516.88130936019
Iteration: 350, B1=5.889501575592372, mse=56516.85981627392
Iteration: 400, B1=5.8897415574471985, mse=56516.85850140053
Iteration: 450, B1=5.889800914315978, mse=56516.858420961085
Iteration: 500, B1=5.889815595583751, mse=56516.858416040064
Iteration: 550, B1=5.889819226833643, mse=56516.858415739014
Iteration: 600, B1=5.889820124983314, mse=56516.85841572062
Iteration: 650, B1=5.889820347130743, mse=56516.858415719485
Iteration: 700, B1=5.889820402076462, mse=56516.85841571941
Iteration: 750, B1=5.889820415666681, mse=56516.8584157194
Iteration: 800, B1=5.88982041902807, mse=56516.8584157194
Iteration: 850, B1=5.889820419859474, mse=56516.8584157194
Iteration: 900, B1=5.889820420065112, mse=56516.85841571941
Iteration: 950, B1=5.889820420115975, mse=56516.8584157194

In [ ]:
print(mse(5.8898204))

56516.85841571941